// -- Structural
.halfs,
.thirds,
.quarters {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.halfs .col {
  flex-basis: 50%;
  width: 50%;
}

.thirds .col {
  flex-basis: 33%;
  width: 33%;
}

.quarters .col {
  flex-basis: 25%;
  width: 25%;
}

.center {
  text-align: center;
}

// -- Main-content typography
#main-content {
  margin-bottom: 100px;

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-heading;
    text-indent: 0;

    &::before {
      display: none;
    }
  }

  h2 {
    color: $c-primary;
    font-size: 36px;
    font-weight: 600;
  }

  h3 {
    color: $c-primary;
    font-size: 28px;
    font-weight: 300;
  }

  h4 {
    color: $c-primary;
    font-size: 17px;
  }

  blockquote {
    font-size: 15px;
  }
}

// -- Links & Buttons
a {
  color: $c-primary;
  transition: color $speed $ease;

  .icon g {
    fill: $c-primary;
    transition: fill $speed $ease;
  }
}

a:hover,
a:focus {
  color: $c-secondary;

  .icon g {
    fill: $c-secondary;
  }
}

a.button,
aside a.button {
  background: rgba($c-secondary, 0.25);
  border: 2px solid $c-light;
  box-shadow: 4px 2px 6px 0 rgba($c-shadow, 0.35);
  color: $c-primary;
  display: inline-block;
  font-family: $font-heading;
  font-size: 20px;
  padding-left: 70px;
  position: relative;
  transition: all $speed $ease;

  .icon {
    left: 15px;
    height: 40px;
    position: absolute;
    top: 20px;
    width: 40px;
  }

  &:hover,
  &:focus {
    box-shadow: 8px 6px 12px rgba($c-shadow, 0.25);
    transform: translateX(-2px) translateY(-2px);

    .icon g {
      fill: $c-primary;
    }
  }

  &.external {
    margin-bottom: 30px;
    width: 90px;
  }

  @media only screen and (max-width: 767px) {
    font-size: 13px;
    line-height: 1;
    padding: 5px 10px 5px 50px;
    height: auto;

    .icon {
      height: 25px;
      left: 10px;
      top: 5px;
      width: 25px;
    }

    &.external {
      box-sizing: border-box;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.icon {
  vertical-align: middle;

  // &.link-external {
  //   vertical-align: super;
  //   width: 0.8em;
  //   height: 0.8em;
  // }
}

// .external {
//   display: block;
//   font-family: $font-heading;
//   font-size: 22px;
//   text-align: right;
// }
