
// ---- Type
// @import url('https://fonts.googleapis.com/css?family=Cabin:600|Nunito+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic');

$font-heading: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;

// ---- Colors
$c-primary: #307bcd;
$c-secondary: #9ddcff;
$c-accent: #de7a22;
$c-light: #fff;
$c-dark: #666;
$c-shadow: #0f648a;
$c-mid-tone: #aaa;

// ---- Transitions

$speed: 0.2s;
$ease: ease;
